---
layout: base.njk
title: Página não encontrada
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="wrapper hero">
  <p class="hero__eyebrow">Erro 404</p>
  <h1>Página não <em>encontrada</em></h1>
  <p class="hero__lede">
    O endereço que você buscou não existe (ou ainda não foi plantado neste
    jardim). Volte para o <a href="/">início</a> ou veja o
    <a href="/aulas/curriculo/">programa do curso</a>.
  </p>
</section>
